@import 'variables';

@import 'animate';
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --hd-color: #bfccb5;
  --hd-hover-color: #c9dbb2;
  --hd-click-color: #aac8a7;
  --hd-text: #3c486b;
  --hd-hover-text: #2c344f;
  --hd-yellow: #ffeeb3;
  --hd-bg: #f8f9fa;
  --hd-disable: #e9edc9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  // color: var(--hd-text);
}

body {
  min-height: 100vh;
  color: var(--hd-text);
  background: var(--hd-bg);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
body,
html,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #0000004d;
}
::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
a {
  -webkit-tap-highlight-color: transparent;
}
