$colors: (
  'primary': (
    'base': #1e9ad6,
  ),
  'success': (
    'base': #48b981,
  ),
  'warning': (
    'base': #ffcf73,
  ),
  'danger': (
    'base': #ff4949,
  ),
  'error': (
    'base': #f36666,
  ),
  'info': (
    'base': #b7b7b7,
  ),
);

// @use 'element-plus/theme-chalk/src/index.scss' as *;

:root {
  // 變更 element plus 主色
  --el-color-primary: #c9dbb2 !important;
  --blue-primary-50: #f8fbff !important;
  --blue-primary-100: #e3f1ff !important;
  --blue-primary-400: #464f5e !important;
  --blue-primary-500: #aac8a7 !important;
  --table-row-bg: #e9f6fc !important;
  // --table-row-bg: rgba(200, 220, 241, 0.2) !important;
  --table-expand-row-bg: #f8fbff !important;
  --table-expand-hover-row-bg: #c8c8c8 !important;
  // --search-input-bg: rgba(200, 220, 241, 0.2) !important;
  --search-input-bg: rgba(232, 240, 254, 0.6) !important;
  --form-input-bg: #f5f7fa !important;
  --form-view-bg: #ffffff !important;
  --el-border-radius-base: 8px !important;
  --el-border-color-extra-light: #b3dff4 !important;
  --el-color-danger: #f36666 !important;
  --el-color-success: #48b981 !important;
  --el-color-warning: #ffcf73 !important;
  --el-color-info: #b7b7b7 !important;
  --primary-text-color: #252525 !important;
  --form-editable-bg: #f5f7fa !important;
  --el-disabled-bg-color: #ececec !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// badge
.el-badge__content.is-fixed {
  right: 16px !important;
}

// input number
.el-input-number {
  .el-input-number__decrease {
    border-right: 0px;
    background: none;
  }
  .el-input-number__increase {
    border-left: 0px;
    background: none;
  }
  .el-input__wrapper {
    background-color: transparent;
  }
}

// mesBox
.el-message-box {
  border-radius: 22px !important;
}

// button
.el-button:focus {
  // background-color: #aabe99 !important;
  // color: #fff !important;
}
.el-button:hover,
.el-button:focus {
  background-color: #aabe99 !important;
  color: #fff !important;
  border: 1px solid #aabe99 !important;
}
// form
.hd-form {
  .el-form-item {
    @apply relative pt-7;
  }
  .el-form-item__label {
    @apply absolute left-2 top-8  duration-200;
  }
  .el-form-item__label:has(+ .el-form-item__content .el-input__wrapper.is-focus) {
    @apply top-1  text-hd-Color;
  }
  .el-form-item.is-error .el-input__wrapper {
    box-shadow: none !important;
  }
  .el-input__wrapper {
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid #b9b9b9 !important;
    border-radius: 0px !important;
    &:before,
    &:after {
      content: '';
      @apply absolute bottom-[0px] h-[2px] w-0 bg-hd-Color;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
    &.is-focus {
      &:before,
      &:after {
        @apply w-1/2;
      }
    }
  }
  .el-form-item__label:has(+ .el-form-item__content .el-input__wrapper .el-input__inner:valid),
  .el-form-item__label:has(
      + .el-form-item__content .el-input__wrapper .el-input__inner:valid:read-only
    ),
  .el-form-item__label:has(
      + .el-form-item__content .only .el-input__wrapper .el-input__inner:not(:placeholder-shown)
    ),
  .el-form-item__label:has(
      + .el-form-item__content
        .el-select
        .el-input__wrapper
        .el-input__inner:not(:placeholder-shown)
    ) {
    @apply top-2  text-hd-Color;
  }

  .el-input__inner::placeholder {
    @apply opacity-0;
  }

  // 自動選擇 去除背影
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f4f4f4 inset; //我这里的body背景色是#f8f8f8f
  }
}

.el-input__wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

.el-loading-spinner {
  background: url('/logo.png') no-repeat;
  background-size: 8rem 9rem;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0 !important;
  text-align: center;
  animation: bounce 2s infinite;
}

.el-loading-spinner .el-loading-text {
  margin: 3px 0;
  font-size: 1.5rem;
  position: absolute;
  top: 60%;
}
.el-loading-spinner .circular {
  display: none !important;
}

.el-drawer__body {
  padding: 0 !important;
}

@keyframes bounce {
  0%,
  20%,
  53%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
